<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="mr-auto navbar-nav">

        <li class="nav-item">
          <a class="navbar-brand" routerLink="/home">
            <img src="../../assets/open-tunisia.png" width="51px" height="25px">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page"
            routerLink="/home" routerLinkActive="active">Accueil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" *ngIf="isUserlogin"
            routerLink="/public-messages" routerLinkActive="active">Messages publics
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" *ngIf="isUserlogin"
            routerLink="/user-account" routerLinkActive="active">Mon profil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"aria-current="page" *ngIf="isUserlogin"
            routerLink="/show-list" routerLinkActive="active">Utilisateurs
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" *ngIf="isUserlogin"
            routerLink="/user-public-messages" routerLinkActive="active">Mes Messages publics
            <div class="notificationsBlock">
              <p class="notifications">{{x}}</p>
            </div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" *ngIf="isUserlogin"
            routerLink="/unread-messages" routerLinkActive="active">Messages Reçus
            <div class="notificationsBlock">
              <p class="notifications">{{y}}</p>
            </div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"aria-current="page" *ngIf="isAdminLogin"
            routerLink="/inscription-management" routerLinkActive="active">Demandes d'inscriptions
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"aria-current="page" *ngIf="isAdminLogin"
            routerLink="/user-management" routerLinkActive="active">Gestion des utilisateurs
          </a>
        </li>

      </ul>

      <div class="navbar-right">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              routerLink="/login" *ngIf="isUserlogin"
              (click)="onLogout()" routerLinkActive="active">Se deconnecter</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" *ngIf="!isUserlogin"
              routerLink="/sign-up" routerLinkActive="active">S'inscrire</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" *ngIf="!isUserlogin"
              routerLink="/login">Se connecter</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</nav>
