<div class="bloc1 fh5co-cover">

    <nav class="fh5co-nav">

        <div class="top-menu">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-lg-3 col-sm-12 justify-content-center ">

                        <!--<a href="http://localhost:4200/" class="b-brand">
                            <img src="../../../assets/open-tunisia.png" alt=""   width="50%" class=" img-fluid logo logo-lg">
                        </a>-->


                    </div>
                    <div class="col-lg-5 col-sm-12    text-right menu-1">
                        <ul>
                            <li><a routerLink="/home">Accueil</a></li>
                            <li><a href="#fh5co-counter">Qui somme nous?</a></li>
                            <li><a href="#fh5co-testimonial">Contact-us</a></li>


    </ul>

    </div>
    <div class="col-lg-4 col-sm-12 text-right menu-1">
    <ul>

                            <!--<li class="btn-cta"><a routerLink="/sign-up"><span>Inscription</span></a></li> &nbsp;
                            <li class="btn-cta"><a routerLink="/login"><span>Se connecter</span></a></li>-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <header id="fh5co-header" class="" role="banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center col-12 col-md-12 text-center  bloc-text-btn">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">

                            <h1>S'OUVRIR, S'UNIR, BATIR</h1>
                            <p><a class="btn btn-learn btn-lg btn-learn" routerLink="/login">Commencer maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    </div>




    <br>

    <div class="container " >
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">

            </div>
        </div>
    </div>
    <div class="fh5co-explore fh5co-explore1  liste-a-puces-1">
        <div class="container">
            <div class="row">
                <div class="col-6  ">
                    <img class="img_eng"
                        src="../../assets/groupe.jpg" alt="work">

                </div>
                <div class="col-6 pt-4  ">
                    <div class="mt pt-4">
                        <h1 class="pt-3 pb-3 h1-qui">Qui somme nous ?</h1>
                        <p class="pt-3 pb-3 h1-qui"> Organisation syndicale patronale dédiée surtout aux TPE/PME, qui se définit comme une force de construction</p>

                        <p> Elle s’est donnée pour mission fondamentale de défendre haut et fort les intérêts de ses adhérents et autres parties prenantes et de formuler des propositions pour faire évoluer le cadre législatif et réglementaire du climat des affaires. C’est une organisation qui mise sur l’intelligence collective pour la création de valeur et le développement durable et équilibré.</p>
                        <ul class="list-nav">

                          <li>C'est une organisation qui mise sur l'intelligence collective pour la création de valeur et le développement durable et équilibré.</li>
                            <li>C'est une organisation où les systèmes isolés, cloisonnés et ignorant feront place à une ouverture à des réalités multidimensionnelles source d'enrichissement réciproque et d'innovation.</li>
                                <li>C'est une organisation où les savoirs fragmentés, compartimentés, engoncés dans l'autosuffisance et l'arrogance des spécialités et des status feront place à la recherche de synergie et de liens intellectuels, écononomiques, cultirels et sociaux.</li>
                                  <li>C'est une organisationtion ouverte, de réflexion et d'action, à laquelle chacun peut participer en fonction de son champ d'expertise, un carrefour où se rencontrent et s'allient les cultures, les sexes, les générations, les époques, les secteurs, les régions, les diciplines, les croyances religieuses et les choix politiques.</li>
                                    <li>C’est une organisation qui considère l’agriculture comme un facteur essen tiel de la croissance économique et le fer de lance face au défi de la sécurité alimentaire. Pour ce faire, il faut réhabiliter l’agriculture par des investissements fondés sur le développement durable et la bonne gouvernance.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br> <br>






            <!--<div id="fh5co-testimonial" class="fh5co-bg-section">
              <div class="container">
                  <div class="row animate-box">
                      <div class="col-md-12 text-center fh5co-heading">
                          <h1 class="pt-3 pb-3 h1-qui2">Contact-us </h1>

                      </div>
                  </div>
            <div class="row text-center pt-4 titre-parag">


                <div class="col-4 b-titre">
                    <h2>Envoyez-nous un email</h2>
                    <img src="../../../assets/email.png" alt=""   width="10%" class=" img-fluid logo logo-lg">
                    <p> <a href="info@open.org.tn"></a>info@open.org.tn </p>
                </div>
                <div class="col-4 b-titre">
                    <h2>Appelez-nous</h2>
                    <img src="../../../assets/phone.png" alt=""   width="10%" class=" img-fluid logo logo-lg">
                    <p> Tél : 70 854 366 <br> Fax : 70 854 36
                      <br> GSM : 20 264 427 <br> </p>
                </div> -->

                <div id="fh5co-testimonial" class="fh5co-bg-section">
                  <div class="container">
                      <div class="row animate-box">
                          <div class="col-md-12 text-center fh5co-heading">
                              <h1 class="pt-3 pb-3 h1-qui2 findUs">Find-us </h1>

                          </div>
                      </div>
                      <div class="mapouter">
                        <div class="gmap_canvas">
                          <iframe width="1080" height="500" id="gmap_canvas"
                          src="https://maps.google.com/maps?q=50,%20Rue%20Tajakistan%202037%20Ennasr%201&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                          scrolling="no" marginheight="0" marginwidth="100">
                        </iframe><a href="https://fmovies-online.net"></a><br>
                        <style>.mapouter{position:relative;text-align:right;height:497px;width:1080px;}</style>
                        <a href="https://www.embedgooglemap.net">embed google map iframe</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:497px;width:1080px;}</style>
                      </div>
                    </div>

            </div>

  <div class="container my-5">

      <footer
              class="text-center text-lg-start text-white"
              style="background-color: #0a389c"
              >

        <div class="container p-4 pb-0">

          <section class="">

            <div class="row">

              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Qui somme nous ?
                </h6>
                <p>
                  Open Tunisia, accompagne les dirigeants d’entreprise dans la gestion quotidienne de leurs entreprises, mais aussi dans leurs problématiques de croissance, de recherche de financements, de partenariat, de reprise ou de transmission d’entreprise
                </p>
              </div>




              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i ></i>50, Rue Tajakistan
                  2037 Ennasr 1</p>
                <p >info@open.org.tn</p>
                <p><i ></i>  70 854 366</p>
                <p><i ></i>  20 264 427 </p>
                <p><i ></i>  55 264 428</p>
              </div>

            </div>

          </section>


          <hr class="my-3">


          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">

              <div class="col-md-7 col-lg-8 text-center text-md-start">

                <div class="p-3">
                  © 2022 Copyright:
                  <a class="text-white"
                     >open-tunisia</a
                    >
                </div>

              </div>



            </div>
          </section>

        </div>

      </footer>

    </div>
