<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">Etes-vous sur de vouloir supprimer ce message?</div>


      <div class="card-body">

        <div class="form-group col-12" style="margin-left:35%;">
          <button type="button" class="btn btn-success" style="  margin-right: 2mm;"
            (click)="onCancel()">Annuler</button>

          <button type="button" class="btn btn-danger" style="  margin-right: 2mm;"
            (click)="onDelete()">Supprimer</button>
        </div>

      </div>
    </div>
  </div>
</div>
