<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img
          class="card-img-top"
          src="../../assets/profile-pic.png"
          height="375px"
        />
      </div>
      <div class="card-body">
        <h1 class="card-title" style="text-align: center">
          {{ selectedUser.lastName }} {{ selectedUser.firstName }}
        </h1>
      </div>
      <button type="button" class="btn btn-primary" (click)="onMessage(selectedUser)">
        Message
      </button>

    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Profil">
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="heading">
                <strong>Prénom:</strong>
                <p>{{ selectedUser.lastName }}</p>
              </div>

              <div class="heading">
                <strong>Nom:</strong>
                <p>{{ selectedUser.firstName }}</p>
              </div>

              <div class="heading">
                <strong>CIN:</strong>
                <p>{{ selectedUser.cin }}</p>
              </div>

              <div class="heading">
                <strong>Email:</strong>
                <p>{{ selectedUser.email }}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="heading">
                <strong>Tel:</strong>
                <p>{{ selectedUser.tel }}</p>
              </div>

              <div class="heading">
                <strong>Addresse:</strong>
                <p>{{ selectedUser.address }}</p>
              </div>

              <div class="heading">
                <strong>Site Web:</strong>
                <p>{{ selectedUser.webSite }}</p>
              </div>
              <div class="heading">
                <strong>Fax</strong>
                <p>{{ selectedUser.fax }}</p>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Sociétés" *ngIf="x">
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="heading">
                <strong>Raison Sociale:</strong>
                <p>{{ selectedUserCompany[companyIndex].raisonSociale }}</p>
              </div>

              <div class="heading">
                <strong>Capitale Sociale:</strong>
                <p>{{ selectedUserCompany[companyIndex].capitalSociale }}</p>
              </div>

              <div class="heading">
                <strong>Siège Sociale:</strong>
                <p>{{ selectedUserCompany[companyIndex].siegeSociale }}</p>
              </div>

              <div class="heading">
                <strong>Forme Juridique:</strong>
                <p>{{ selectedUserCompany[companyIndex].formeJuridique }}</p>
              </div>

              <div class="heading">
                <strong>Matricule Fiscal:</strong>
                <p>{{ selectedUserCompany[companyIndex].matriculFiscal }}</p>
              </div>

              <div class="heading">
                <strong>RNE:</strong>
                <p>{{ selectedUserCompany[companyIndex].rne }}</p>
              </div>

              <div class="heading">
                <strong>Secteur Activité:</strong>
                <p>{{ selectedUserCompany[companyIndex].secteurActivite }}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="heading">
                <strong>Produits:</strong>
                <p>{{ selectedUserCompany[companyIndex].produits }}</p>
              </div>

              <div class="heading">
                <strong>Nombre d'employées:</strong>
                <p>{{ selectedUserCompany[companyIndex].nbreEmployes }}</p>
              </div>

              <div class="heading">
                <strong>Tel:</strong>
                <p>{{ selectedUserCompany[companyIndex].tel }}</p>
              </div>

              <div class="heading">
                <strong>Fax:</strong>
                <p>{{ selectedUserCompany[companyIndex].fax }}</p>
              </div>

              <div class="heading">
                <strong>E-mail:</strong>
                <p>{{ selectedUserCompany[companyIndex].email }}</p>
              </div>

              <div class="heading">
                <strong>Site Web:</strong>
                <p>{{ selectedUserCompany[companyIndex].webSite }}</p>
              </div>

              <br>

              <button type="button" class="btn btn-primary" (click)="onPrevious()" style="margin-right: 10px;">
                Précédente
              </button>

              <button type="button" class="btn btn-primary" (click)="onNext()" style="margin-right: 10px;">
                Suivante
              </button>

            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
