<table class="table table-striped">
  <thead>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Visiter le profil</th>
    <th>Envoyer un message</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList">
      <td>{{item.lastName}}</td>
      <td>{{item.firstName}}</td>
      <td>
        <button type="delete" class="btn btn-primary" (click)="onVisit(item)">
          Visiter
        </button>
      </td>

      <td>
        <button type="button" class="btn btn-primary" (click)="onMessage(item.id)">
          Message
        </button>
      </td>

    </tr>
  </tbody>
</table>

<!--<button class="btn btn-primary"
routerLink="/">Return</button>-->
