.sendInput {
  margin-left: -25px;
  width: 1185px;

}

.sendResponseInput{
}

.responseList {
  margin-top: 35px;
}

.separatingLine {
  width: 1120px;
}

.inputMessage {
  /*padding:25px;
  margin-bottom: 25px;*/
}

.btn {
}

.publisher {
  font-size: 20px;
  margin-left: 35px;
}

.date {
  font-size: 10px;
  margin-top: -20px;
  margin-left: 35px;
}

.content {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 35px;
  width: 1120px;

}

.pic {
  margin-top: 4px;
  margin-left: 2px;
  float: left;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.myMsgBlock {
  background-color: #E0FFFF;
  margin-left: -55px;
  margin-right: -50px;
  margin-bottom: 35px;
}

.notMyMsgBlock {
  background-color: white;
  margin-left: -55px;
  margin-right: -50px;
  margin-bottom: 35px;
}
