<div class="sendInput">

  <form (ngSubmit)="onSend()" autocomplete="off">
    <input type="text" class="inputMessage"
      placeholder="Envoyer un message"
      class="form-control"
      name="message"
      required
      minlength="1"
      maxlength="255"
      [(ngModel)]="messageContent">

    <input type="submit"
      value="Envoyer"
      class="btn btn-primary"
      style="float: right;">
  </form>

</div>

<br>
<br>

<ul style="list-style-type: none;">

  <li class="message" *ngFor="let message of messageList.slice().reverse()">

    <div
      *ngIf="
        message.userId !== user.id;
        then notMyMsg;
        else myMsg;">
    </div>

    <ng-template #myMsg>
      <div class="myMsgBlock">
        <img
          class="pic"
          src="../../assets/profile-pic.png"/>
        <b><p class="publisher">{{ message.publishedBy }}</p></b>
        <p class="date">{{ message.sendingDate }}</p>
        <p class="content">{{ message.content }}</p>
        <hr class="separatingLine" style="margin-left: 25px;">

        <button class="btn btn-secondary"
          (click)="showResponses(message.id)">Réponses</button>

        <div *ngIf="x == message.id && intervalTest">
          <div class="sendResponseInput">
            <form (ngSubmit)="onResponseSend()" autocomplete="off">
              <input type="text" class="inputMessage"
                placeholder="Envoyer un réponse"
                class="form-control"
                name="message"
                required
                minlength="1"
                maxlength="255"
                [(ngModel)]="responseContent">
              <input type="submit"
                value="Répondre"
                class="btn btn-primary"
                style="float: right;">
            </form>
          </div>

          <div class="responseList">
            <ul style="list-style-type: none;">

              <li class="message" *ngFor="let response of responseList.slice().reverse()">
                <img class="pic" src="../../assets/profile-pic.png"/>
                <b><p class="publisher">{{ response.publishedBy }}</p></b>
                <p class="date">{{ response.sendingDate }}</p>
                <p class="content">{{ response.content }}</p>
                <hr class="separatingLine">
              </li>

            </ul>
          </div>
        </div>

      </div>
    </ng-template>

    <ng-template #notMyMsg>
      <div class="notMyMsgBlock">
        <img
          class="pic"
          src="../../assets/profile-pic.png"/>
        <p class="publisher">{{ message.publishedBy }}</p>
        <p class="date">{{ message.sendingDate }}</p>
        <p class="content">{{ message.content }}</p>
      </div>
    </ng-template>

  </li>

</ul>
