<!--<img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.png">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/house_default.png">-->



<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="../../assets/open-tunisia.png" height="400px">
      </div>
      <div class="card-body">
        <h1 class="card-title" style="text-align: center;">{{user.lastName}} {{user.firstName}}</h1>
      </div>
      <br>
      <button type="button" class="btn btn-success">
        Ajouter une entreprise
      </button>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Profil">
          <h1>Profil</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Prénom:</strong>
                      <p>{{user.lastName}}</p>
                  </div>

                  <div class="heading">
                      <strong>Nom:</strong>
                      <p>{{user.firstName}}</p>
                  </div>

                  <div class="heading">
                      <strong>CIN:</strong>
                      <p>{{user.cin}}</p>
                  </div>

                  <div class="heading">
                      <strong>Email:</strong>
                      <p>{{user.email}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Tel:</strong>
                      <p>{{user.tel}}</p>
                  </div>

                  <div class="heading">
                      <strong>Addresse:</strong>
                      <p>{{user.address}}</p>
                  </div>

                  <div class="heading">
                      <strong>Site Web:</strong>
                      <p>{{user.webSite}}</p>
                  </div>
                  <div class="heading">
                      <strong>Fax</strong>
                      <p>{{user.fax}}</p>
                  </div>
                  <br>
                  <button type="button" class="btn btn-primary" routerLink="/user-info-update">
                    Editer
                  </button>
              </div>
            </div>
        </tab>

        <tab heading="Sociétés">
          <h1>Société</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                    <strong>Raison Sociale:</strong>
                    <p>{{company[0].raisonSociale}}</p>
                  </div>

                  <div class="heading">
                    <strong>Capitale Sociale:</strong>
                    <p>{{company[0].capitalSociale}}</p>
                  </div>

                  <div class="heading">
                    <strong>Siège Sociale:</strong>
                    <p>{{company[0].siegeSociale}}</p>
                  </div>

                  <div class="heading">
                    <strong>Forme Juridique:</strong>
                    <p>{{company[0].formeJuridique}}</p>
                  </div>

                  <div class="heading">
                    <strong>Matricule Fiscal:</strong>
                    <p>{{company[0].matriculeFiscal}}</p>
                  </div>

                  <div class="heading">
                    <strong>RNE:</strong>
                    <p>{{company[0].rne}}</p>
                  </div>

                  <div class="heading">
                    <strong>Secteur Activité:</strong>
                    <p>{{company[0].secteurActivite}}</p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="heading">
                    <strong>Produits:</strong>
                    <p>{{company[0].produits}}</p>
                  </div>

                  <div class="heading">
                    <strong>Nombre d'employées:</strong>
                    <p>{{company[0].nbreEmployes}}</p>
                  </div>

                  <div class="heading">
                    <strong>Tel:</strong>
                    <p>{{company[0].tel}}</p>
                  </div>

                  <div class="heading">
                    <strong>Fax:</strong>
                    <p>{{company[0].fax}}</p>
                  </div>

                  <div class="heading">
                    <strong>E-mail:</strong>
                    <p>{{company[0].email}}</p>
                  </div>

                  <div class="heading">
                    <strong>Site Web:</strong>
                    <p>{{company[0].webSite}}</p>
                  </div>
              </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
